.date-picker-input{
  box-sizing: border-box;
  margin-bottom: 10px;
  padding-left: 8px;
  width: 150px;
  height: 30px;
  font-size: 1rem;
  border-radius: 3px;
  border: 1px solid gray;
  background-color: white;
}

.modal-background{
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: transparent;
}
