@import url(https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css);

.calendar{
  --calendar-size : 300px;
  width: var(--calendar-size);
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  font-size: calc(var(--calendar-size) * 0.05);
  position: relative;
  z-index: 2;
}
.calendar-nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(var(--calendar-size) * 0.2);
  background-color: #54c242;
  color: white;
  border-radius: 8px 8px 0 0;
  margin-bottom: 10px;
  width: 100%;
}
.year-month-info{
  width: 30%;
}
.calendar-grid{
  display: grid;
  grid-template-rows: 1fr 6fr;
  width: 100%;
  height: var(--calendar-size);
}
.calendar-day{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 10px;
  padding: 0 10px 0 10px;
}
.calendar-date{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  row-gap: 10px;
  column-gap: 10px;
  padding: 0 10px 10px 10px;
}
.day{
  width: 100%;
  height: 50%;
  align-self: center;
  color: gray;
}
.date{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sun{
  color: red;
}
.today{
  border: 1px solid #54c242;
  border-radius: 50%;
}
.last-month, .next-month{
  color: gray;
}
.date-picker-input{
  box-sizing: border-box;
  margin-bottom: 10px;
  padding-left: 8px;
  width: 150px;
  height: 30px;
  font-size: 1rem;
  border-radius: 3px;
  border: 1px solid gray;
  background-color: white;
}
.hover{
  background-color: #54c242;
  color: white;
  border-radius: 50%;
}
.pick{
  background-color: #54c242;
  color: white;
  border-radius: 50%;
}
.calendar-background{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: transparent;
}
